$color-text: white;

.container {
    color: $color-text;
    margin-top: 20px;
}

.title {
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
}

.items {
    margin-top: 10px;
}
.item {
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 15px;
}
